section {
  padding: 100px 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

header {
  background: #113383;
  color: #FFFFFF;
  padding: 150px 0;
}
header p {
  font-family: "Allura";
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  font-size: 60px;
  margin-top: -30px;
}

.timeline {
  position: relative;
}
.timeline::before {
  content: "";
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #303F9F;;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

a {
  background: #303F9F;;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
a:hover, a:active, a:focus {
  background: #32408f;
  color: #FFFFFF;
  text-decoration: none;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://www.elnuevodia.com/resizer/74dNBGTn0UDux03H9DOvnqLNMD0=/1200x675/filters:quality(75):format(jpeg):focal(2675x1875:2685x1865)/cloudfront-us-east-1.images.arcpublishing.com/gfrmedia/WDKH6PW7DNF2NJWNTJTBAIACNI.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item .timeline-img-header1 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://www.primerahora.com/resizer/5QRuLScw79Atg2R5Sguvd8wwpNs=/1200x717/smart/filters:quality(75):format(jpeg)/arc-anglerfish-arc2-prod-gfrmedia.s3.amazonaws.com/public/IE2EUH6TCJHVJJ6WI6UMOERWCY.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item .timeline-img-header2 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://fcomdigitalhome.files.wordpress.com/2019/01/tatuaje.jpeg") center center no-repeat;
  background-size: cover;
}

.timeline-item .timeline-img-header3 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F21%2F2022%2F07%2F28%2FScreen-Shot-2022-07-28-at-5.18.58-PM.png") center center no-repeat;
  background-size: cover;
}

.timeline-item .timeline-img-header4 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://media.telemundopr.com/2023/11/26745976085-1080pnbcstations.jpg?quality=85&strip=all&resize=1200%2C675") center center no-repeat;
  background-size: cover;
}

.timeline-item .timeline-img-header5 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://media.telemundopr.com/2022/02/Untitled-design-2.png?fit=1200%2C640&quality=85&strip=all") center center no-repeat;
  background-size: cover;
}

.timeline-item .timeline-img-header6 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://img.gruporeforma.com/imagenes/960x640/6/405/5404751.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-img-header , 
.timeline-img-header1, 
.timeline-img-header2,
.timeline-img-header3,
.timeline-img-header4,
.timeline-img-header5,
.timeline-img-header6 {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}


.timeline-img-header h2 , 
.timeline-img-header1 h2,
 .timeline-img-header2 h2 , 
 .timeline-img-header3 h2 , 
 .timeline-img-header4 h2 , 
 .timeline-img-header5 h2,
 .timeline-img-header6 h2{
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}



.date {
  background: #e10132;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}/*# sourceMappingURL=style.css.map */